    /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    position: relative;
    background-color:  #485ac9;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background: linear-gradient(45deg, white, rgb(237, 227, 34));
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    
    filter: drop-shadow(4px 4px 8px rgba(241, 234, 234, 0.959));
  }
  header h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h2 {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36spx;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    position: center;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px 4px
    filter: drop-shadow(4px 4px 8px rgba(241, 234, 234, 0.959));
  }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para los productos destacados */
#productosDestacados {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    margin-top: 10px;
}

.product button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para las secciones adicionales */
#otrasSecciones {
    padding: 20px;
}

/* Estilos para el footer */
footer {
    background-color: #485ac9;
    color: #fff;
    text-align: center;
    padding: 10px;
}
